// New spacers

.dbt-spr-0 {
	height: var(--bh_spr_0);
}

.dbt-spr-1 {
	height: var(--bh_spr_1);
}

.dbt-spr-2 {
	height: var(--bh_spr_2);
}

.dbt-spr-4 {
	height: var(--bh_spr_4);
}

.dbt-spr-6 {
	height: var(--bh_spr_6);
}

.dbt-spr-8 {
	height: var(--bh_spr_8);
}

.dbt-spr-10 {
	height: var(--bh_spr_10);
}

.dbt-spr-12 {
	height: var(--bh_spr_12);
}

.dbt-spr-16 {
	height: var(--bh_spr_16);
}

.dbt-spr-20 {
	height: var(--bh_spr_20);
}

.dbt-spr-24 {
	height: var(--bh_spr_24);
}

.dbt-spr-32 {
	height: var(--bh_spr_32);
}

.dbt-spr-36 {
	height: var(--bh_spr_32);
}

.dbt-spr-40 {
	height: var(--bh_spr_40);
}

.dbt-spr-42 {
	height: var(--bh_spr_42);
}

.dbt-spr-40 {
	height: var(--bh_spr_40);
}

.dbt-spr-48 {
	height: var(--bh_spr_48);
}

.dbt-spr-56 {
	height: var(--bh_spr_56);
}

.dbt-spr-64,
.gl-s60 {
	height: var(--bh_spr_60);
}

.dbt-spr-72 {
	height: var(--bh_spr_72);
}

.dbt-spr-80 {
	height: var(--bh_spr_80);
}

.dbt-spr-96 {
	height: var(--bh_spr_96);
}

.dbt-spr-112 {
	height: var(--bh_spr_112);
}

.dbt-spr-128 {
	height: var(--bh_spr_128);
}

.dbt-spr-152 {
	height: var(--bh_spr_152);
}

.dbt-spr-184 {
	height: var(--bh_spr_184);
}

.dbt-spr-216 {
	height: var(--bh_spr_216);
}

.dbt-spr-248 {
	height: var(--bh_spr_248);
}

.dbt-spr-280 {
	height: var(--bh_spr_280);
}

.wp-block-spacer {
	height: var(--bh_spr_48);
	background-color: transparent;
}
