.wpcf7-list-item {
	margin: 0 var(--bh_spr_10) 0 0 !important;
}

.wpcf7-section {

	label {
		display: block;
	}
}

.wpcf7-form-control-wrap {
	display: block;
	margin-top: var(--bh_spr_10);
}

.wpcf7-not-valid-tip {
	color: var(--bh_valiation_error_color) !important;
	position: relative;
	top: -15px;
}

.wpcf7-response-output {
	margin: 0 !important;
}
