@use "sass:list";
@use "sass:map";
@use "sass:meta";

$base-url: "/assets/src/";
$used-fonts: ();
$heading-font-stack: (
	"Manrope",
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Helvetica,
	Arial,
	sans-serif,
);
$body-font-stack: (
	"Inter",
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Helvetica,
	Arial,
	sans-serif,
);

@function local-font($stack, $family, $weight, $file-path) {
	@return (
		family: $stack,
		weight: $weight,
		style: normal,
		font-display: swap,
		font-face: (
			family: $family,
			path: $file-path,
			formats: woff2,
		),
	);
}

$manrope-fonts: (
	xlight: local-font($heading-font-stack, "Manrope", 300, "Manrope-Light"),
	light: local-font($heading-font-stack, "Manrope", 300, "Manrope-Light"),
	reg: local-font($heading-font-stack, "Manrope", 400, "Manrope-Regular"),
	med: local-font($heading-font-stack, "Manrope", 500, "Manrope-Medium"),
	sbold: local-font($heading-font-stack, "Manrope", 600, "Manrope-SemiBold"),
	bold: local-font($heading-font-stack, "Manrope", 700, "Manrope-Bold"),
	xbold: local-font($heading-font-stack, "Manrope", 700, "Manrope-Bold"),
);
$inter-fonts: (
	xlight: local-font($body-font-stack, "Inter", 300, "Inter18pt-Light"),
	light: local-font($body-font-stack, "Inter", 300, "Inter18pt-Light"),
	reg: local-font($body-font-stack, "Inter", 400, "Inter18pt-Regular"),
	med: local-font($body-font-stack, "Inter", 500, "Inter18pt-Medium"),
	sbold: local-font($body-font-stack, "Inter", 600, "Inter18pt-SemiBold"),
	bold: local-font($body-font-stack, "Inter", 700, "Inter18pt-Bold"),
	xbold: local-font($body-font-stack, "Inter", 700, "Inter18pt-Bold"),
);
$base-font-stack: (
	manrope: $manrope-fonts,
	inter: $inter-fonts,
	wsans: $manrope-fonts,
	switzer: $inter-fonts,
);

// Fetch nested keys
@function map-deep-get($map, $keys...) {

	@each $key in $keys {

		@if meta.type-of($map) != "map" {
			// @warn "`#{$map}` is not a map.";
			@return false;
		}

		$map: map.get($map, $key);
	}

	@return $map;
}

// Checks if a list contains a value(s).
@function contains($list, $values...) {

	@each $value in $values {

		@if meta.type-of(list.index($list, $value)) != "number" {

			@return false;
		}
	}

	@return true;
}

// Returns URL to a font based on its path
@function font($path, $base: $base-url) {

	@if $path != "" {

		@return url($base + "fonts/" + $path);
	}

	@else {

		@return none; // or handle empty path case accordingly
	}
}

// Font styling shorthand
@mixin font(
	$group,
	$variant: reguopen,
	$properties: family weight style,
	$font-stack: $base-font-stack
) {
	$font-properties: map-deep-get($font-stack, $group, $variant);

	@if $font-properties {

		@include track-fonts($group, $variant);

		@each $key, $value in $font-properties {

			@if contains($properties, $key) {
				font-#{$key}: $value;
			}
		}
	}
}

// Track all fonts and variations used in the stylesheet
// Check if this combination already exists in the map.
// If not, we add it to the map.
@mixin track-fonts($group, $variant) {
	// First check if we already knew this one:
	@if map.has-key($used-fonts, $group) ==false {
		// Font-family isn't in the map yet, so add it.
		// The key for the nested map is the font name:
		$used-fonts: map.merge($used-fonts, (
			$group: (),
		)) !global;
	}

	// Now check if the variation is known
	$font-map: map.get($used-fonts, $group);

	@if list.index($font-map, $variant) ==null {
		// Variation isn't in the map yet, so add it:
		$variations: list.append($font-map, $variant);
		$used-fonts: map.merge($used-fonts, (
			$group: $variations,
		)) !global;
	}
}

// Add the font-face rules for all used fonts
@mixin import-fonts($font-stack: $base-font-stack) {

	@each $group, $variations in $used-fonts {

		@each $variant in $variations {
			$font-properties: map-deep-get($font-stack, $group, $variant);

			@if $font-properties {
				// If we have a font-face key we create the font-face rule
				$font-face: map.get($font-properties, font-face);

				@if $font-face {
					$font-family: map.get($font-face, family);
					$file-path: map.get($font-face, path);
					$file-formats: map.get($font-face, formats);
					$font-weight: map.get($font-properties, weight);
					$font-style: map.get($font-properties, style);
					$font-display: map.get($font-properties, font-display);

					@if $file-formats {

						@include font-face(
							$font-family,
							$file-path,
							$font-weight,
							$font-style,
							$file-formats,
							$font-display
						);
					}

					@else {

						@include font-face(
							$font-family,
							$file-path,
							$font-weight,
							$font-style,
							eot woff2 woff ttf svg,
							$font-display
						);
					}
				}
			}
		}
	}
}

// Used for creating the source string for fonts using @font-face
@function font-source($font-family, $file-path, $file-formats) {
	$src: ();

	@if $file-path != "" {
		$formats-map: (
			woff2:
			"#{$file-path}.woff2"
			format("woff2")

		);

		@each $key, $values in $formats-map {

			@if contains($file-formats, $key) {
				$file-path: list.nth($values, 1);
				$font-format: list.nth($values, 2);
				$src: list.append($src, font($file-path) $font-format, comma);
			}
		}
	}

	@return $src;
}

// Add a font-face rule
@mixin font-face(
	$font-family,
	$file-path,
	$font-weight: 400,
	$font-style: normal,
	$file-formats: eot woff2 woff ttf svg,
	$font-display: swap
) {

	@if $file-path != "" {

		@font-face {
			font-family: $font-family;
			font-style: $font-style;
			font-weight: $font-weight;
			font-display: $font-display;
			src: font-source($font-family, $file-path, $file-formats);
		}
	}
}
